<% if user_signed_in? %>
			<div class="center hero-unit">
		    <h1>Welcome User!</h1>
		    <p>to <%= link_to 'One Month Rails',  "http://onemonthrails.com" %>
		     </p>
			</div>
	<% else %>

<div class="center hero-unit">
    <h1>Welcome!</h1>
    <p>to <%= link_to 'One Month Rails',  "http://onemonthrails.com" %>
     </p>

    <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</div>
<% end %>